body {
    display: block;
}

main {
    background-color: black;

    h1 {
        color: #fff;
    }

}

.row {
    flex-wrap: wrap;
    justify-content: center;
}

.alert ul {
    list-style-type: disc;
}