body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}

img {
    display: block;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

label {
    color: #fff;
    font-size: 1.2rem;
}